

<div class="Menus">


<hr class="Cafeteria-header-line">
  <h1 class="MenuPageTitle">My Orders</h1>


</div>

<table class="OrderCart">

	<thead>
	<tr>
		<th>S No.</th>
		<th>Date</th>
		<th>Order-Id</th>
		<th>Amount</th>
		<th>Status</th>
	<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<% @current_user.orders.each_with_index do |order,i|%>
	<tr>

		<td><%= i+1%></td>
		<td> <%= order.order_date%> </td>
		<td> EATORD<%= order.id%></td>
		<td><%= order.amount%></td>
    <td>Not Delivered</td>
		<td><%= link_to "Expand", "/order/#{order.id}" ,method: "get" %></td>
	</tr>
	<%end%>
	</tbody>
</table>
<img src="order.png" alt="Order" class="OrderBanner">
